*{
 padding: 0px;
 margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.front-page{
    width: 100%;
    height: 100vh;
    color: white;
    clip-path: circle(5%);
}

.front-page video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-text, .music-note{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.blend{
    width: 100%;
    height: 100vh;
    background: black;
    position: absolute;
    opacity: 0.5;
}

.title{
    font-size: 5rem;
    padding-bottom: 0.5rem;
}

.sub-title{

    font-size: 1.5rem;
}

.second-page{
    height: 100vh;
}
